anyio==3.5.0
argcomplete==2.0.0
asgiref==3.5.0
certifi==2021.10.8
click==8.0.3
duckdb==0.3.2
fastapi==0.75.1
greenlet==1.1.2
h11==0.13.0
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
msgpack==1.0.2
packaging==21.3
pip==21.2.4
pydantic==1.9.0
pyparsing==3.0.6
PyPika==0.48.9
setuptools==61.2.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
userpath==1.7.0
uvicorn==0.17.6
wheel==0.37.1
boto3==1.21.42
yattag==1.15.0
