<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  </head>
  <body>
    <p>How are you feeling?</p>
    <!-- Load from unpkg -->
    <!-- have a button POST a click via AJAX -->
    <button hx-post="/clicked" hx-swap="outerHTML">
      Click Me
    </button>
  </body>
</html>
