<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <link rel="icon" type="image/png" sizes="32x32" href="site/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="site/favicon-16x16.png">
  <link rel="stylesheet" href="static/spectre.min.css">
  <link rel="stylesheet" href="static/spectre-exp.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;500&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <script defer src="js/script.js"></script>
  <script defer src="static/cdn.min.js"></script>
  <style>
    body {
      color: #000;
      font-family: 'Assistant', sans-serif;
      width: 1600px;
      margin: 10px auto;
      height: 100%
    }

    div {
      padding: 0px
      margin: 0px auto;
    }

    .htmx-indicator {
      display: none;
    }

    .htmx-request {
      display: inline;
    }
  </style>
</head>

<body>
  {% block table %}
  {% endblock %}
</body>

</html>
