{% extends "index.html" %}
{% block table %}


<table
    class="table"
    x-data="{rowidx: 0, colidx: 0}"

    {% macro update_rowid(delta) %}
    rowidx = Math.max(Math.min(rowidx + {{ delta }}, {{ rows|length - 1 }}), 0)
    {% endmacro %}

    {% macro update_colid(delta) %}
    colidx = Math.max(Math.min(colidx + {{ delta }}, {{ columns|length - 1 }}), 0)
    {% endmacro %}

    @keydown.shift.down.window="{{ update_rowid(1) }}"
    @keydown.j.window="{{ update_rowid(1) }}"

    @keydown.shift.up.window="{{ update_rowid(-1) }}"
    @keydown.k.window="{{ update_rowid(-1) }}"

    @keydown.shift.right.window="{{ update_colid(1) }}"
    @keydown.l.window="{{ update_colid(1) }}"

    @keydown.shift.left.window="{{ update_colid(-1) }}"
    @keydown.h.window="{{ update_colid(-1) }}"

    @keydown.shift.g.window="rowidx = {{ rows|length - 1}}"
    @keydown.g.window="if (!$event.shiftKey) rowidx = 0 "

    @keydown.shift.f.window="window.location.href = '{{ format_url(request.url) }}op=f:' + colidx"
    >
    <tr>
      {% for col in columns %}
      <th
          x-bind:class="colidx == {{ loop.index0 }} ? 'active' : ''"
          >{{ col }}</th>
      {% endfor %}
    </tr>
  {% for row in rows %}
  {% set outerloop = loop %}
  <tr 
          x-bind:class="rowidx == {{ loop.index0 }} ? 'active' : ''"
          x-effect="
            if (rowidx == {{ loop.index0 }}){
              $el.scrollIntoView({
                block: rowidx == 0 ? 'end' : 'nearest',
                inline: 'nearest'
              })
            }
            "
          >
          {% for col in columns %}
          <td
              x-bind:style="colidx == {{ loop.index0 }} ? (rowidx == {{ outerloop.index0 }} ? 'background:#d5e1d9' : 'background:#eef0f3') : ''"
              >
              {{ row[col] }}
          </td>
            {% endfor %}
  </tr>
    {% endfor %}
</table>

<script>
  /*
  Alpine.data('sheet', () => ({
      rowidx: 0,
      colidx: 0
    })
  )
 */
</script>
{% endblock %}
